img{
    float:left;
}
h1{
    text-align: center;
    color: blue;
}
h3{
    text-align: center;
    color: green
}
body{
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/0/0f/Anchovy_closeup.jpg/220px-Anchovy_closeup.jpg');
    background-repeat: no-repeat;
    background-size: cover;
   
}
div{
    background-color: antiquewhite;
}